.modal{
  border: none;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #e0e0e0;
  -webkit-box-shadow: 12px 12px 24px #bebebe, -12px -12px 24px #ffffff;
  box-shadow: 12px 12px 24px #bebebe, -12px -12px 24px #ffffff;

  color: #363636;
  padding: 50px;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal_header{
  h3{
    display: inline;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
  }
  button{
    display: inline;
    float: right;
    padding: 3px ;
    font-size: 1.05em;
    font-weight: 900;
  }

}

.modal_body{
  margin-top: 20px;
}

@media (max-width: 700px) {
  .modal{
    width: 66%;
  }
}
@media (max-width: 300px) {
  .modal_header button{
    display: block;
    float: none;
    margin: auto;
  }
  .modal_header h3{
    display: block;
    float: none;
    text-align: center;
    margin-bottom: 10px;
  }
}
